<div class="container">
  <footer class="footer">
    <small>
      Copyright to Legacy .Inc &copy;
      Built by Prasad Zore.
    </small>
    <nav>
      <ul>
        <li>
          <h5> Welcome</h5>
        </li>
      </ul>
    </nav>
  </footer>

</div>